<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>

        <script src="js/jquery-1.8.2.min.js"></script>
        <script src="js/main.js"></script>

        <script>
            $(document).ready(function() {
                $dashboard.init();
            });
        </script>

        <style>

            body {
                padding: 0px;
                margin: 0px;
                overflow: hidden;
            }

            #dashboard_status {
                margin: 0px;
                padding: 5vh;
                background-color: #ccc;
                height: 90vh;
                position: relative;
            }

            #dashboard_screens {
                height: 90vh;
                background-color: white;
            }

            .dashboard_screen {
                height: 90vh;
                padding: 5vh;
            }

            #dashboard_nav {
                position: absolute;
                top: 0px;
                height: 5vh;
                left: 5vw;
                text-align: center;
                vertical-align: middle;
            }

            .dashboard_nav {
                height: 4.5vh;
                min-width: 4.5vh;
                line-height: 4.5vh;
                border: solid 1px blue;
                padding: 0px 10px;
                color: black;
                background-color: #ddd;
                display: inline-block;
            }

            .dashboard_nav.active {
                color: white;
                background-color: blue;
            }

            .prio_0_bg { background-color: #66cc00; }
            .prio_1_bg { background-color: #b8caff; }
            .prio_2_bg { background-color: #ffe270; }
            .prio_3_bg { background-color: #FFB689; }
            .prio_4_bg { background-color: #ff9999; }
            .prio_5_bg { background-color: #ff3333; }

            .prio_0 { color: #66cc00; }
            .prio_1 { color: #b8caff; }
            .prio_2 { color: #ffe270; }
            .prio_3 { color: #FFB689; }
            .prio_4 { color: #ff9999; }
            .prio_5 { color: #ff3333; }

            .prio_1i_bg { background-color: #eeeeee; }
            .prio_2i_bg { background-color: #dddddd; }
            .prio_3i_bg { background-color: #cccccc; }
            .prio_4i_bg { background-color: #bbbbbb; }
            .prio_5i_bg { background-color: #aaaaaa; }

            .hidden {
                display: none;
            }

        </style>

    </head>
    <body>
        <div id="dashboard_status">
            <div id="dashboard_screens">
                <div class="dashboard_screen" id="dashboard_screen_init">
                    Please wait... loading and stuff
                </div>
            </div>
        </div>
    <div id="dashboard_nav">
    </div>
    </body>
</html>
